.hero {
    display: flex;
    justify-content: space-between;
}

.left-side {
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.right-side {
    flex: 1;
    position: relative;
    background-color: var(--orange);
}

.hero-add {
    margin-top: 2rem;
    background-color: var(--gray);
    width: fit-content;
    padding: 20px 13px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 3rem;
}

.hero-add>h2 {
    z-index: 2;
}

.hero-add>div {
    position: absolute;
    width: 5.5rem;
    height: 80%;
    left: 8px;
    border-radius: 50%;
    background-color: var(--orange);
}

.hero-heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-size: 4.0rem;
    font-weight: bold;
    color: var(--dark-gray);
    text-overflow: inherit;
}

.hero-heading>div:nth-of-type(3){
    font-size: 1.2rem;
    font-weight: normal;
    color: wheat;
}

.hero-figures {
    display: flex;
    gap: 2rem;
}

.hero-figures>div {
    display: flex;
    flex-direction: column;
}

.hero-figures>div>span:nth-of-type(1) {
    font-size: 1.8rem;
    color: var(--lightgray);
}

.hero-figures>div>span:nth-of-type(2) {
    color: var(--gray);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.right-side>.hero-button {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    right: 3rem;
    position: absolute;
    color: black;
}

.heart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--darkGrey);
    width: fit-content;
    padding: 1rem;
    align-items: start;
    border-radius: 5px;
    position: absolute;
    right: 4rem;
    top: 7rem;
}

.heart>:nth-child(2){
    top: 12rem;
    color: var(--gray);
}

.heart>:nth-child(3){
    color: white;
}

.heart>span:nth-of-type(1) {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
}

.heart>img {
    width: 2rem;
}

.hero-image {
    position: relative;
    top: 7rem;
    right: 9rem;
    width: 23rem;
}

.hero_image_bck {
    position: absolute;
    top: 7rem;
    right: 30rem;
    z-index: -1;
}

.calories {
    display: flex;
    gap: 2rem;
    position: absolute;
    background-color: var(--caloryCard);
    border-radius: 5px;
    padding: 1rem;
    width: fit-content;
    top: 30rem;
    right: 55rem;
}

.calories>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calories > img {
    width: 3rem;
}

.calories > div > :nth-child(1){
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white);
}